<div class="small-5 columns" id="form">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.submit "Resend confirmation instructions", class="button" %></div>
  <% end %>

 </p><%= render "users/shared/links" %></p>
</div>
