<div class="row">
  <div class="large-10 large-offset-1 columns">
  <h1>Admin Dashboard</h1>
  <p><%= link_to 'Add a New Issue', new_issue_path %></p>
  <p><%= link_to 'Edit Magazines', admin_magazines_path %></p>
  <p><%= link_to 'Edit Crews', crews_path %></p>
  <p><%= link_to 'Edit Formats', formats_path %></p>
  <p><%= link_to 'Edit Languages', languages_path %></p>
  <p><%= link_to 'Edit Media', media_path %></p>
  <table>
     <thead>
      <tr>
        <th width="200">Issue</th>
        <th width="150">Visit</th>
        <th width="150">Edit</th>
        <th width="150">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @issues.each do |issue| %>
      <tr>
        <td><%= image_tag issue.front_cover.url(:thumb)%></td>
        <td><%=link_to issue.title, issue_path(issue) %></td>
        <td><%= link_to 'Edit', edit_admin_issue_path(issue) %></td>
        <td>Delete</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
