<div class="row">
  <div class="small-12 columns title-row">
    <span class="mag-title"><%= issue.magazine.title%></span> <%= issue.title%>
  </div>
</div>
<div class="row">
  <div class="small-8 columns modal-image">
    <%= image_tag issue.front_cover.url(:medium)%>
  </div>
  <div class="small-4 columns">
    <p><strong>Location:</strong> <%= issue.location%></p>
    <p><strong>Year:</strong> <%= issue.year%></p>
  </div>
</div>
