<div class="row">
  <div class="small-5 columns" id="form">
    <h2>Add a New Issue</h2>
    <%= simple_form_for @issue do |f| %>
      <%= f.input :magazine %>

      <%= f.input :title %>

      <%= f.input :cover_image, label: "Cover Image URL" %>

      <%= f.input :year, label: "Year of Publication", collection: 1970..2014 %>

      <%= f.input :address %>

      <%= f.input :city %>

      <%= f.input :state %>

      <%= f.input :country, collection: ['US', 'Germany']%>

      <%= f.submit 'Submit', class: "button" %>
    <% end %>
  </div>
</div>
