<div class="small-12 columns">
  <h2>Sign in</h2>
  <%= simple_form_for(User.new, url: user_session_path) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>


    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>


    <div><%= f.submit "Sign in", class: "button"%></div>
    <p><%= link_to('Sign up', new_user_registration_path) %></p>
    <p><%= link_to('Forgot password?', new_user_password_path) %></p>

  <% end %>
</div>

