<div data-magellan-expedition="fixed" class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li><%= link_to(image_tag("LogoSized.png"), root_path) %></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
     <section class="top-bar-section">
      <ul class="right">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="left">
        <li><%= link_to(image_tag("Home.png"), root_path) %></li>
        <li><%= link_to(image_tag("Library.png"), "#library", :"data-magellan-arrival" => "library") %></li>
        <li><%= link_to(image_tag("Shop.png"), "#", :"data-reveal-id" => "shop") %></li>
        <li><%= link_to(image_tag("Contact.png"), "#", :"data-reveal-id" => "contact") %></li>
      </ul>
      <%= render 'layouts/admin' %>
    </section>
  </nav>
</div>

<div id="contact" class="reveal-modal small" data-reveal>
  <%= render 'contact_forms/new', resource: ContactForm.new %>
  <a class="close-reveal-modal" data-reveal>&#215;</a>
</div>
<div id="shop" class="reveal-modal small" data-reveal>
  <p>Coming soon!</p>
  <a class="close-reveal-modal" data-reveal>&#215;</a>
</div>
